name: custom_scratch_card
description: A customizable scratch card widget for Flutter.
version: 0.0.1
repository: https://github.com/your-repo/custom_scratch_card

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
